@import './fonts/fonts.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #181a1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient( #2a78ff, #000000);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a78ff;
}
